body{
    background: rgb(0,31,36);
    background: linear-gradient(90deg, rgba(0,31,36,0.2497373949579832) 0%, rgba(19,240,219,1) 20%, rgba(0,212,255,1) 100%);  
}

#userInput{
    margin: 10px;
    position: relative;
    left: 10px;
}

#button{
    margin-right: 20px;
    height: 60px;
}

.header {
    background: #43799c;
    color: white;
    padding: 1.6rem 0;
}

.header_title {
    font-size: 3.2rem;
    margin-bottom: .4rem;
  }
  
.header_subtitle {
    font-size: 1.6rem;
    font-weight: 300;
}

.input-group-text {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3rem 0.3rem 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

.input-group-text:hover {
    color: #000000;
    background-color: #FFFFFF;
}

@media all and (max-width: 30em) {
    .input-group-text {
        display: block;
        margin: 0.4em auto;
    }
}